<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/main.css" rel="stylesheet" type="text/css" />
<title>流量查询</title>
</head>

<body>
<div id="header">
 <div class="main">
  <dl><a href="#"><img src="__PUBLIC__/images/logo.png" /></a></dl>
  <dt><a href="__APP__/Admin/Index"><img src="__PUBLIC__/images/link.png" /></a></dt>
 </div>
</div>

<div id="banner"></div>

<div id="nav">
 <div class="main">
  <div class="li01"><a href="#" class="hover"><img src="__PUBLIC__/images/n_01.png" /></a></div>
  <div class="li02"><a href="__APP__/Home/Index"><img src="__PUBLIC__/images/n_02.png" /></a></div>
 </div>
</div>

<div id="add">当前位置：流量查询</div>

<div id="bott">
 <div id="sea_02">
  <p>编码：</p><input name="" type="text" />
  <p>年份：</p><select name=""><option>2016</option></select>
  <p>月份：</p><select name=""><option>1月</option></select>
  <button name="" type="button" /><img src="__PUBLIC__/images/but_02.jpg" /></button>
 </div>
 <div id="bi_01">
  <p>
   <span>时间</span><span>使用流量</span>
  </p>
  <dl>
   <dt>2016-08-08</dt><dt>45M</dt>
  </dl>
  <dl>
   <dt>2016-08-08</dt><dt>40M</dt>
  </dl>
  <dl>
   <dt>2016-08-08</dt><dt>30M</dt>
  </dl>
  <dl>
   <dt>2016-08-08</dt><dt>26M</dt>
  </dl>
  <dl>
   <dt>2016-08-08</dt><dt>6689.52M</dt>
  </dl>
 </div>
 <div id="img_01"><img src="__PUBLIC__/images/pic_01.jpg" /></div>
</div>

<div class="clear"></div>

<div id="footer">
 <div class="main"><img src="__PUBLIC__/images/pic_02.jpg" /></div>
</div>


















</body>
</html>
